.link{
    text-decoration: none;
    padding: auto;
    color: white;
    margin-left: 25px;

}
.icon{
    color: white;
    height:30px;
    width: 30px;
}
.nav{
    position: sticky;
    background-color: black;
    top: 0vh;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30px;

}
.login{
    position: sticky;
   left: 90vw;
    display: flex;
justify-content: flex-end;
}